    <%- include ./header.ejs %>
<br>
<br>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-body">
                        <form action="/add" method="POST"><br>
                            <input type="text" name="imagen" placeholder="Inserte la imagen" class="form-control" required >
                            </div>
                            <div class="card-body">
                                <input type="text" name="producto" placeholder="Inserte Nombre De Producto" class="form-control" required >
                            </div>
                            <div class="card-body">
                                <input type="text" name="description" placeholder="Inserte Descripcion" class="form-control" required >
                            </div>
                            <div class="card-body"><input type="text" name="ingredientes" placeholder="Inserte Los Lngredientes" class="form-control" required>
                            </div>
                            <div class="card-body">
                                <input type="number" name="precio" placeholder="Inserte Precio" class="form-control" min="1" title="El precio debe ser mayor a 1" required >
                            </div>
                            <div class="form-control">
                                <select name="categoria" class="form-control">
                                    <option value="1">Crepa</option>
                                    <option value="2" >Raspados</option>
                                    <option value="3">Frape</option>
                                    <option value="4">Beso De Angel</option>
                                    <option value="5">Chamoyada</option>
                                  </select>
                            </div>    
                            <div class="form-control">
                                <select name="provendido" class="form-control">
                                    <option value="">Null</option>
                                    <option value="1">Tomas Garrido</option>
                                    <option value="2" >Polvora</option>
                                    <option value="3">Esperanza Iris</option>
                                    <option value="4">Parque Pollo</option>
                                  </select>
                            </div>     
                            <button type="submit" class="btn btn-primary btnblock">
                                Agregar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-14">
                <table class="table table-bordered table-hover " bgcolor=  #DAF7A6 >
                    <thead>
                        <tr>
                            <th>Numero</th>
                            <th>Imagen</th>
                            <th>Nombre Producto</th>
                            <th>Ingrediente</th>
                            <th>Descripcion</th>
                            <th>Precio</th>
                            <th>Categoria</th>
                            <th>Mas Vendido</th><
                        </tr>
                    </thead>
                    <% for(var i=0; i< tasks.length; i++) { %>
                        <tr>
                            <td>
                                <%= i + 1 %>
                            </td>
                            <td>
                                <img class="card-img-top" style="width:200px;height:150px;" display: block;
                                src="<%= tasks[i].imagen %>" data-holderrendered="true">
                            </td>
                            <td>
                                <%= tasks[i].producto %>
                            </td>
                            <td>
                                <%= tasks[i].ingredientes %>
                            </td>
                            <td>
                                <%= tasks[i].description %>
                            </td>
                            <td>
                                <%= tasks[i].precio %>
                            </td>
                            <td>
                                <%= tasks[i].categoria %>
                            </td>
                            <td>
                                <%= tasks[i].provendido %>
                            </td>
                            <td><br>
                                <a href="/delete/<%= tasks[i]._id%>" class="btn btn-danger">Borrar</a>
                                <br>
                                <a href="/edit/<%= tasks[i]._id%>" class="btn btn-info">Editar</a><br>
                            </td>
                        </tr>
                        <% } %>
                            <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <%- include ./footer.ejs %>
</body>
</html>