    <%- include ./header.ejs %>

    <div class="album py-5 bg-light" id="productos">
        <div class="container">
            <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" style="width: 100%" ; display: block;
                                src="<%= task.imagen %>" data-holderrendered="true">
                            <div class="card-body">
                                <h3>
                                    <%= task.producto %>
                                </h3><hr>
                                <p class="card-text">
                                    <%= task.description %>
                                </p><hr>
                                <p class="card-text">
                                    <%= task.ingredientes %>
                                </p><hr>
                                <p class="card-text" >
                                    Precio: <%= task.precio %>
                                </p>
                                    <div id="paypal-button-container" class="mt-4"></div>
                            </div>
                        </div>
                    </div>
                    <form action="https://sandbox.paypal.com/cgi-bin/webscr" method="POST" target="paypal">
                        <input type="hidden" name="cmd" value="_cart">
                        <input type="hidden" name="add" value="1">
                        <input type="hidden" name="business" value="sb-obrml5325916@business.example.com">
                        <input type="hidden" name="item_name" value="<%= task.producto %>">
                        <input type="hidden" name="amount" value="<%= task.precio %>">
                        <input type="hidden" name="shipping" value="1.0">
                        <input type="hidden" name="shopping_url" value="http://localhost:3000/productos" >
                        <input type="hidden" name="return" value="http://localhost:3000/productos">
                        <input type="hidden" name="cancel_return" value="http://localhost:3000/productos" >
                        <input type="hidden" name="bn" value="PP-ShopCartBF:x-click-but22.gif:NonHosted">
                        <input type="hidden" name="currency_code" value="MXN"/>
                        <input type="image" src="https://paypal.com/en_US/i/btn/x-click-but22.gif" name="submit"
                            alt="Make payments with paypal - its fast, free and secure" >
                        <img " alt="" src="https://www.paypalobjects/.com/en_US/i/btn/btn_cart_LG.gif" width="1" height="1">
                    </form>
            </div>
            <script src="https://www.paypalobjects.com/api/checkout.js"></script>
        </div>

    </div>
    <%- include ./footer.ejs %>
</body>
<%- include ./Paypal.ejs %>
</html>
