    <%- include ./header.ejs %>
    
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <form action="/edit/<%= task._id%>" method="POST">
                            <div class="form-group">
                                <input type="text" name="imagen" placeholder="Inserte la imagen" class="form-control" value="<%= task.imagen%>">
                            </div>
                            <div class="form-group">
                                <input type="text" name="producto" placeholder="Inserte nombre de producto" class="form-control" value="<%= task.producto%>">
                            </div>
                            <div class="form-group">
                                <input type="text" name="description" placeholder="Inserte descripcion" class="form-control" value="<%= task.description%>">
                            </div>
                            <div class="form-group"><input type="text" name="ingredientes" placeholder="Inserte los ingredientes" class="form-control" value="<%= task.ingrediente%>">
                            </div>
                            <div class="form-group">
                                <input type="number" name="precio" placeholder="Inserte precio" class="form-control" value="<%= task.precio%>" min="1" title="El precio debe ser mayor a 1" >
                            </div>
                            <div class="form-group">
                                <input type="number" name="categoria" placeholder="Inserte cantidad" class="form-control" value="<%= task.categoria%>" min="0" title="La cantidad debe ser mayor a 0" >
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">
                                Actualizar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include ./footer.ejs %>
</body>

</html>