    <%- include ./header.ejs %>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <form action="/edit/<%= task._id%>" method="POST">
                            <div class="form-group">
                                <input type="text" name="imagen" placeholder="Inserte la imagen" class="form-control" value="<%= task.imagen%>">
                            </div><hr>
                            <div class="form-group">
                                <input type="text" name="producto" placeholder="Inserte nombre de producto" class="form-control" value="<%= task.producto%>">
                            </div><hr>
                            <div class="form-group">
                                <input type="text" name="description" placeholder="Inserte descripcion" class="form-control" value="<%= task.description%>">
                            </div><hr>
                            <div class="form-group"><input type="text" name="ingredientes" placeholder="Inserte los ingredientes" class="form-control" value="<%= task.ingrediente%>">
                            </div><hr>
                            <div class="form-group">
                                <input type="number" name="precio" placeholder="Inserte precio" class="form-control" value="<%= task.precio%>" min="1" title="El precio debe ser mayor a 1" >
                            </div><hr>
                                <select name="categoria" class="form-control">
                                    <option value="1">Crepa</option>
                                    <option value="2" >Raspados</option>
                                    <option value="3">Frape</option>
                                    <option value="4">Beso De Angel</option>
                                    <option value="5">Chamoyada</option>
                                  </select><hr>

                                  <select name="provendido" class="form-control">
                                    <option value="">Null</option>
                                    <option value="1">Tomas Garrido</option>
                                    <option value="2" >Polvora</option>
                                    <option value="3">Esperanza Iris</option>
                                    <option value="4">Parque Pollo</option>
                                  </select><hr>
                            <button type="submit" class="btn btn-primary btn-block">
                                Actualizar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div><br>
    <%- include ./footer.ejs %>
</body>

</html>