<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="shortcut icon" href="images/lov.ico" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reposteria Beso De Angel</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/bootsnav.css" />
    <link rel="stylesheet" href="/stylesheets/botones.css" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <!--card album-->
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/album/">
    <!--emoji-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css%22%3E">


</head>

<body class="body">
    <header>
        <div class="container-fluid px-0">
            <nav class="navbar navbar-expand-sm navbar-dark bg-black py-1 px-1">
                <a class="navbar-brand" href="/"><img style="height: 100px; width: 100px;" src="../images/lov.png"> Beso
                    de Angel </a><span class="v-line"></span> <button class="navbar-toggler mr-3" type="button"
                    data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item"> <a class="nav-link" href="/home"><i class="fas fa-ice-cream"> Agregar producto</a></i></li>
                        <li class="nav-item"></i> <a class="nav-link" href="/agregarusu"><i class="fas fa-map-marker-alt"> Nuevo Usurio</i></a> </li></i>
                        <li></li>
                        <li class="nav-item"><a class="nav-link" href="/"> Cerrar sesion </a> </li></i>
                    </li>
                        </li>
                    </ul>

                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <form action="/edit1/<%= task_usuario._id%>" method="POST">
                            <div class="form-group">
                            <input type="text" name="nombre" placeholder="Inserte Nombre Usuario" class="form-control" value="<%= task_usuario.nombre%>">
                        </div><hr>                        
                        <div class="form-group">
                            <input type="text" name="correo" placeholder="Agrege un Correo" class="form-control" value="<%= task_usuario.correo%>" >
                        </div><hr>
                        <div class="card-body">
                            <input type="password" name="password" placeholder="Agrege Password" class="form-control" value="<%= task_usuario.password%>">
                        </div><hr>
                        <div class="card-body"><input type="text" name="usuario" placeholder="usuario" class="form-control"value="<%= task_usuario.usuario%>">
                        </div><hr>
                            <button type="submit" class="btn btn-primary btn-block">
                                Actualizar
                            </button>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include ./footer.ejs %>
</body>

</html>