<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reposteria Beso De Angel</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Beso De Angel</a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span> </a>
                    <a class="nav-item nav-link" href="#productos">Productos</a>
                    <a class="nav-item nav-link" href="#contacto">Contactos</a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <form action="/edit/<%= task._id%>" method="POST">
                            <div class="form-group">
                                <input type="text" name="imagen" placeholder="Inserte la imagen" class="form-control" value="<%= task.imagen%>">
                            </div>
                            <div class="form-group">
                                <input type="text" name="producto" placeholder="Inserte nombre de producto" class="form-control" value="<%= task.producto%>">
                            </div>
                            <div class="form-group">
                                <input type="text" name="description" placeholder="Inserte descripcion" class="form-control" value="<%= task.description%>">
                            </div>
                            <div class="form-group"><input type="text" name="ingredientes" placeholder="Inserte los ingredientes" class="form-control" value="<%= task.ingrediente%>">
                            </div>
                            <div class="form-group">
                                <input type="number" name="precio" placeholder="Inserte precio" class="form-control" value="<%= task.precio%>" min="1" title="El precio debe ser mayor a 1" >
                            </div>
                            <div class="form-group">
                                <input type="number" name="cantidad" placeholder="Inserte cantidad" class="form-control" value="<%= task.cantidad%>" min="0" title="La cantidad debe ser mayor a 0" >
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">
                                Actualizar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>