<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reposteria Beso De Angel</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Beso De Angel</a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span> </a>
                    <a class="nav-item nav-link" href="/home">Agregar Productos</a>
                    <a class="nav-item nav-link" href="#productos">Productos</a>
                    <a class="nav-item nav-link" href="#contacto">Contactos</a>
                </div>
            </div>
        </nav>
    </header>
    <div class="album py-5 bg-light" id="productos">
        <div class="container">
            <div class="row">
                <% for(var i=0; i< tasks.length; i++) { %>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" style="width: 100%" ; display: block;
                                src="<%= tasks[i].imagen %>" data-holderrendered="true">
                            <div class="card-body">
                                <h3>
                                    <%= tasks[i].producto %>
                                </h3><hr>
                                <p class="card-text" >
                                    Precio: <%= tasks[i].precio %>
                                </p>
                                <p class="card-text">
                                    Cantidad: <%= tasks[i].cantidad %>
                                </p>
                                <a href="/detalles/<%= tasks[i]._id%>" class="btn btn-info">Detalles</a>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
    <footer class="text-center">ITVH 2021</footer>
</body>
</html>