<!DOCTYPE html>
<html lang="es">
<head>
    <title>Reposteria</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">navbar</a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span> </a>
                    <a class="nav-item nav-link" href="/home">Agregar Productos</a>
                    <a class="nav-item nav-link" href="#productos">Productos</a>
                    <a class="nav-item nav-link" href="#contacto">Contactos</a>
                </div>
            </div>
        </nav>
    </header>
    <div class="album py-5 bg-light" id="productos">
        <div class="container">
            <div class="row">
                <% for(var i=0; i< tasks.length; i++) { %>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" style="width: 100%" ; display: block;
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDPmkAl-IOMdrrxti6RdFwrfpQOtSTDORIsw&usqp=CAU" data-holderrendered="true">
                            <div class="card-body">
                                <h3>
                                    <%= tasks[i].producto %>
                                </h3><hr>
                                <p class="card-text">
                                    <%= tasks[i].description %>
                                </p><hr>
                                <p class="card-text">
                                    <%= tasks[i].ingredientes %>
                                </p><hr>
                                <p class="card-text">
                                    <%= tasks[i].precio %>
                                </p>

                                <p class="card-text">
                                    <%= tasks[i].cantidad %>
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <form action="https://sandbox.paypal.com/cgi-bin/webscr" method="post">
                                            <input type="hidden" name="cmd" value="_xclick">
                                            <input type="hidden" name="business" value="sb-obrml5325916@business.example.com"/>
                                            <input type="hidden" name="currency_code" value="MXN"/>
                                            <input type="hidden" name="item_name" value="<%= tasks[i].producto %>"/>
                                            <input type="hidden" name="amount" value="<%= tasks[i].precio %>"/>
                                            <input type="hidden" name="return" value="https://localhost:3000/"/>
                                            <button type="submit"class="btn btn-sm btn-outlinesecondary">Comprar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
    <footer class="text-center" id="contacto">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">navbar</a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span> </a>
                    <a class="nav-item nav-link" href="#productos">Productos</a>
                    <a class="nav-item nav-link" href="#contacto">Contactos</a>
                </div>
            </div>
        </nav>
    </footer>
</body>
</html>